/**
 * Colors
 */
$background-grey: #ddd;
$background-blue: #d9edf7;
$border-blue: #bce8f1;
$transparent-black: rgba(0,0,0,0.8);

/**
 * Spacing
 */
$inner-padding-large: 20px;
$inner-padding-small: 12px;
$border-radius-large: 10px;
$border-radius-small: 3px;
$row-spacing: 50px;

/**
 * Images
 */
$thumbnail-width: 200px;
$thumbnail-height: 200px;

/**
 * Shadows
 */
$box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

/**
 * Fonts
 */

$font-base: 16px;